<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Oswald:wght@200&family=Oxygen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Oswald:wght@200&family=Oxygen&family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="header">
       <img class="logo"   src = "/images/Logo YS TECHNOLOGICAL SECURITY2.jpg"> 
       <div class="barra">
      <form class="form" action="#" method="get">
              <input class="input" id="busqueda" type="text" name="busqueda" id="busqueda" placeholder="Buscar productos, marcas y más"></input>
          </form>
      <nav>
          <ul class=nav1>
              <a href = "#">OFERTAS</a>
              <a href = "#">SERVICIOS</a>
              <a href = "#">INGRESA</a>
              <a href="/register">CREA TU CUENTA</a> <i class="fa-solid fa-address-card"></i>
              <a href = "#">MIS COMPRAS</a><i class="fa-solid fa-basket-shopping"></i>        
          </ul>
      </nav>
    </div>
  </div> 
  </header>
  <main>
    <section id="banner">
      <img width="100%" src="/images/banner.jpg" alt="banner">
  </section>  
    <section>
      <div class =" descripcion">
      <h1> SEGURIDAD ELECTRÓNICA </h1>
        <h2> YSCA SEGURIDAD EN TU HOGAR ofrecemos servicios de seguridad electrónica garantizada, contamos con herramientas de última tecnología para brindarte la mejor experencia en tú hogar. Brindamos los siguientes servicios:</h2>
        </div>
        <!-- <img width="100%" src="/images/diagrama.jpg" alt ="Imagen de una cafetera">  -->
        <section class="servicios">
        <article>
            <div class="servicio">
            <img  src="/images/Camara de Seguridad.jpg" alt ="Imagen Camara de Seguridad">
            <h3 class="resumen">Cámaras y Alarmas de Seguridad</h3>
            <p>Puedes ver tu propiedad en vivo, recibir alertas por movimiento de personas y escuchar a través de las cámaras las 24 hs.</p>
            </div>
        </article>
        <article>
          <div class="servicio">
          <img  src="/images/Vigilancia.jpg" alt ="Imagen Vigilancia">
          <h3 class="resumen">Vigilancia</h3>
          <p>La Vigilancia y monitoreo de la empresa incluye sistemas completos de audio y de vídeo vigilancia y rastreo GPS. Tanto el tiempo real de escucha / visualización como análisis fuera de línea son compatibles</p>
          </div>
      </article>
      <article>
        <div class="servicio">
        <img  src="/images/Purtas automaticas.jpg" alt ="Imagen Puertas de Seguridad">
        <h3 class="resumen">Puertas de Seguridad</h3>
        <p>La apertura automática y sin contacto de las puertas con sensor hace más fácil el día a día, por lo tanto optimiza el acceso sin barreras de un espacio a otro de forma segura.</p>
        </div>
    </article>
    <article>
      <div class="servicio">
      <img  src="/images/Domotica.jpg" alt ="Imagen Domotica">
      <h3 class="resumen">Domotica</h3>
      <p>Nuestros servicios de Domotica incluyen control de la iluminación, alarmas de intrusión, control de la climatización, control de las persianas y de los toldos entre otros.</p>
      </div>
  </article>
    </section>
    </section>
  </main>
  <footer class="pie" class="iconopie">
    <div class="iconos">
      <i class="fa-brands fa-youtube"></i>
        <h3>www.youtube/YSCA.com</h3>
    </div>
    <div class="iconos">
      <i class="fa-brands fa-facebook"></i>
        <h3>YSCA Seguridad En Tu Hogar</h3>
    </div>
    <div class="iconos">
        <i class="fa-brands fa-whatsapp"></i>
        <h3>3101547894</h3>
    
</footer>
  </body>
</html>
